<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit classroom</title>
</head>
<body>
<h1>Edit classroom</h1>
<p>
    <a href="/classroom">List classroom</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-classroom}" th:object="${classroom}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name classroom</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Description classroom</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit classroom"></td>
        </tr>
    </table>
</form>
</body>
</html>